.red {
    font-size: 20;
    color: red;
}

.green {
    font-size: 20;
    color: green;
}

p {
    color: #2f00ff;
}
  

.navbar-item {
  color: #333; 
  text-decoration: none; 
  font-size: 18px;
}

.navbar-item:hover {
    color: #3b68e4; 
}